/* Color  Primary Schoolmedia*/
.bg-schoolmedia{
    background-color: #014282;
}

.border-sch{
    border: 2px solid #014282;
    border-radius: 6px;
}

.text-schoolmedia{
    color: #005fbd;
}


body{
    background-color: #f3f3f3;
}

.navbar h5{
    margin-top: 10px;
    color: #f1b400;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
}

.form-check-input{
    background-color: #ff1a30!important;
    border: 1px solid #ff1a30!important;}

.form-check-input:checked {
    background-color: #00ff3a!important;
    border-color: #00ff3a!important;
}

textarea:focus{
    border: 0!important;
}

